# Ignore everything
/*

# Unignore the content folder
!/content


# Ignore all filetypes
*.*
# Unignore certain filetypes
!*.cpp
!*.h
!*.txt
!*.shader
!*.py


# Unignore github stuffs
!.gitignore
!README.md
!LICENSE.txt
